@media only screen and (max-width: 1258px) {
    header {
        background-color: black;
        border-color: black;
    }

    h1 {
        color: white;
    }

    .container {
        grid-template-columns: 1fr;
        /* Switch to a single column layout for mobile */
    }

    .image-container {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns for screens wider than 768px */
    }

    .membership-container {
        flex-direction: column;
        /* Stack elements vertically */
    }

    .membership-form {
        margin-right: 0;
        /* Remove right margin */
    }

    .image-container .image img {
        transform: none;
        /* Remove the hover effect on mobile */
        transition: none;
        /* Remove transition effect on mobile */
    }
}