header{
    background-color: #7F361E;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

#enugu{
    font-size: larger;
    font-weight: lighter;
}

#chamber{
    font-size: small;
}

#heading{
    padding-left: 15px;
}

#navigation{
    padding-right: 15px;
}


#call-to-action{
    position: absolute;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(200, 205, 205);
    padding: 12px;
    width: 140px;
    bottom: 50%;
    left: 50%;
}
#enugu_capital{
    width: 100%;
}

main{
    background-color: #FFFFFF;
}

#main-subcategory{
    display: grid;
    grid-row-gap: 5px;
}
#sub-category{
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-gap:10px;
}

#events{
    padding: 10px;
    width:auto;
    height: auto;
    background-color:rgb(200, 205, 205);
}

#weather{
    width: auto;
    padding-left: 10px;
    background-color:rgb(200, 205, 205);
}
#advertisement{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 2px;
}
#vmotors{
    width: auto;
    padding-left: 10px;
    background-color:rgb(200, 205, 205);
}
#rgalleria{
    width: auto;
    padding-left: 10px;
    background-color:rgb(200, 205, 205);
}
#pplus{
    width: auto;
    padding-left: 10px;
    background-color:rgb(200, 205, 205);
}

#chamber-events{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 2px;
}
#event-one{
    padding: 10px;
    width:auto;
    height: auto;
    background-color:rgb(200, 205, 205);
}
#event-two{
    padding: 10px;
    width:auto;
    height: auto;
    background-color:rgb(200, 205, 205);
}
#event-three{
    padding: 10px;
    width:auto;
    height: auto;
    background-color:rgb(200, 205, 205);
}


footer {
    background-color: #7F361E;
    padding: 30PX;
    display: grid;
    grid-template-columns: 7fr 1fr;
}