/* Media query for smaller screens */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .card-one,
  .Card {
    margin-bottom: 20px;
  }
}

/*@media only screen and (min-width: 50em) {
  #menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
  }

  #menu::before {
    content: "≡";
  }


  .show li {
    display: block;
  }

  #menu.show::before {
    content: "X";
  }

  /* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
/* @media only screen and (min-width: 40em) {
    .navigation {
      display: flex;
    }

    .navigation li {
      display: block;
      /* change state in small view 
flex: 1 1 100%;
}*/

/* .navigation a {
      text-align: center;
    }

    #menu {
      display: none;
    }
  }

  .highlight {
    list-style: none;
  }

  main {
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



  .lesson-titles {
    position: right;
    text-align: left;
    list-style: none;
  }

  h3 {
    padding: 20px;
    background-color: #0076B6;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  section {
    width: 410px;
    border: 1px solid #333;
    border-radius: 10px;
  }



  .card {
    width: 370px;
    border: 1px solid #333;
  }

  menu {
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index: 10;
    overflow: hidden;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
  }



  footer {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
  }
} */